<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>

<form action="signup" method="post">
    <p class="text-center">Для регистрации укажите ваш Key ID, verification code и имя персонажа, к которому хотите привязать аккаунт в телеграме</p>
    <input type="text" class="form-control" placeholder="Key ID" name="keyid"/><br/>
    <input type="text" class="form-control" placeholder="Verification code" name="vcode"/><br/>
    <input type="text" class="form-control" placeholder="Character name" name="cname"/><br/>
    <button class="btn btn-default" type="submit">Получить код подтверждения</button>
</form>

<a th:href="@{/images/api_example.jpg}">Пример</a>

</body>
</html>